<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('../header'); -%>
    <div class="container-fluid px-3 px-lg-5 py-4">
        <h3 class="text-center my-4"><%= ejsCategory %></h3>
        <h6 class=" mb-3">Choose Category</h6>
        <div class="col-md-4 d-flex mb-5">
            <select id="productCategory" class="rounded ps-2" name="categorySlug" value="test"  onchange="changeVal()">
              <option value="all">All</option>
              <% for (const category of categories) { %>
              <option class="text-center" value="<%= category.slug %>"><%= category.name %></option>
              
              <% } %>
            </select>
            
            <button class="btn btn-warning mx-3" onclick="gotoCat()" >Submit</button>
        </div>
        <div class="row text-center mt-3">
            <% for(var i = 0; i < ejsProducts.length; i++){%>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="card">
                    <img src="<%= ejsProducts[i].image %>" class="card-img-top product-img" alt="...">
                    <div class="card-body">
                      <h6 class="card-title"><%= ejsProducts[i].name %></h6>
                      <a href="#" class="btn btn-warning my-2 iconSettings"><span class="">Add to Cart </span><img  src="../uploads/shopping-bag.svg" alt=""></a>
                      <p class="card-text ">$<%= ejsProducts[i].price %></p>
                    </div>
                  </div>
            </div>
            <% }%>
        </div>
    </div>
    <script type="text/javascript" src="../../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>