<%- include('../layout/layout') -%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/admin/products">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>

<div class="d-flex justify-content-center">
  <div class="card border-left-primary shadow h-100 w-50 py-2">
    <div class="card-body">
      <% if (typeof isSuccess != 'undefined' && isSuccess) { %>
      <div class="alert alert-primary" role="alert">
        Successfully created product.
      </div>
      <% } else if (typeof isSuccess != 'undefined' && !isSuccess) { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% for (const error of errors) { %>
          <li><%= error %></li>
          <% } %>
        </ul>
      </div>
      <% } else if (typeof imageError != 'undefined') {%>
      <div class="alert alert-danger" role="alert"><%= imageError %></div>
      <% } %>

      <form
        method="POST"
        action="/admin/products/create"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="productName"
            >Product Name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="productName"
            placeholder="Product Name"
            name="name"
            value="<%= (locals.oldValue) ? oldValue.name : '' %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="productQty"
            >Quantity <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="productQty"
            placeholder="Quantity"
            name="qty"
            value="<%= (locals.oldValue) ? oldValue.qty : '' %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="productDescription"
            >Description <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control"
            id="productDescription"
            placeholder="Description..."
            name="description"
            rows="3"
            value="<%= (locals.oldValue) ? oldValue.description : '' %>"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="productImage">Image</label>
          <input
            type="file"
            class="form-control-file"
            id="productImage"
            name="image"
            required
          />
        </div>
        <div class="form-group">
          <label for="productCategory">Category</label>
          <select id="productCategory" class="form-control" name="categoryId">
            <% for (const category of categories) { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="productPrice"
            >Price <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="productPrice"
            placeholder="Price"
            name="price"
            value="<%= (locals.oldValue) ? oldValue.price : '' %>"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>

<%- include('../layout/footer') -%>
